*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body{
    width: 955px;
    margin: 20px auto;
    border: 1px solid #000;
    /*background-image: url("grid.png");
    background-repeat:repeat-y;*/
}
body h1{
    text-align:center;
    font-size:48px;
    font-family:Verdana;
    font-weight:400;
}
.course-info{
    text-align:center;
}
svg{
    max-width:100px;
    max-height:100px;
}

ul ul{
    list-style-type:none;
}
