html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
  
.cf:before,
.cf:after {
      content: " "; /* 1 */
      display: table; /* 2 */
}
  
.cf:after {
      clear: both;
}
main{
    width: 60vw;
    border: 1px solid #000;
    display: grid;
    grid-gap: 15px;
    grid-template-columns:repeat(15, [col] auto);
    grid-template-rows: 200px auto 75px;
    margin: auto;
    padding: 20px;
}
header.primary{
    background-color:grey;
    grid-column: 1 / 17;
    grid-row: 1 / 2;
}
#content{
    display:grid;
    grid-column: 1/ 17;
    grid-row: 2 / 3;
    gap: 17px;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}
#blog{
    background-color:rgba(53, 50, 56, 0.849);
    grid-column: 1 / 14;
}
aside{
    background-color: rgba(69, 73, 69, 0.452);
    grid-column: 14 / 17;
}
footer.primary{
    grid-row: 3 / 4;
    grid-column: 1 / 17;
    background-color:grey;
}