:root{
  --primary-text-color: #000;
  --primary-font-size: larger;
  --primary-font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Geneva, sans-serif;
  --primary-border: solid 1px #000;
}

html{
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

.container{  
  max-width:500px;
  margin: 0 auto;
  padding: 20px;
  background-color:#f5f5f5;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

a:link, a:visited{
  color: var(--primary-text-color);
}

/* navigational links at the top*/
nav{
  padding:1px;
}

nav ul{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 4% 4% 4% 4%;
}

nav ul li{
  list-style-type:none; 
}

nav a:link, nav a:visited{
  display:block;
  border: var(--primary-border);
  background-color:rgb(49, 46, 46);
  padding:9px 19px;
  text-transform:uppercase;
  text-decoration:none;
  color:#fff;
  font-size:0.85em;
  text-align:center;
}
nav a:hover{
  background-color: #fff;
  color:var(--primary-text-color);
}

nav a:active{
  background-color:#c4c4c4;
  color:#3d3d3d;
}

/* ROUNDED CORNERS FOR OUTER BOXES*/
.a{
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
}

.d{
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
}

/* end of navigational css */


main h1{
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-family:var(--primary-font-family);
}
h2{
  justify-content:center;
  text-align:center;
  font-weight: 500;
  font-family:var(--primary-font-family);
  border-top: var(--primary-border);
}
  
img{
  max-width:100%;
}

#description{
  text-align:center;
  font-size:var(--primary-font-size);
  color:var(--primary-text-color);
}

dl{
  display:grid;
  grid-template-columns: 10em 1fr;
  text-decoration:none;
}

dt{
  grid-column: 1 / 2;
  padding: 11px 0px;
  font-weight:800;
  text-align:left;
  font-size:larger;
  text-decoration:underline;
  border-right: var(--primary-border);
  border-bottom: var(--primary-border);
  border-top: var(--primary-border);

}
dd{
  grid-column:2 / 3;
  padding: 11px 0px;
  text-align:right;
  font-size:1em;
  margin:0px;
  border-bottom: var(--primary-border);
  border-top: var(--primary-border);
}

dd a:visited, a:link{
  text-decoration:none;
}

.related-links{
  text-decoration:overline;
  list-style-type:none;
  display:grid;
  grid-template-rows: repeat(3, 35px);
  justify-content:center;  
  gap:20px;
  padding:0;
}
.related-links a{
  border: var(--primary-border);
  background-color:rgb(49, 46, 46);
  padding:9px 19px;
  text-transform:uppercase;
  text-decoration:none;
  color:#fff;
  font-size:0.85em;
  text-align:center;
  border-radius:30px;
}

#courses ul{
  list-style-type:none;
  padding:0px;
}

#courses li{
  padding: 5px 0px;
  text-align:center;
}

#github:before{
  content: url('../img/github-mark-white-smaller.png');
}
#linkedin:after{
  content: url('../img/LI-In-Bug-small.png');
  padding-left:2px;
}

#skills li{
  font-size:var(--primary-font-size);
}

#skills ul{
  display:grid;
  gap:7px;
  padding:0px;
  grid-template-columns: repeat(3, auto);
  grid-template-areas:
      "cpp cs python"
      "java html php"
      "...... css ......"
      "solo solo solo"
      "team team team"
      "leader leader leader"
  ;
  list-style-type:none;
  text-align:center;
}
#cpp{
  grid-area:cpp;
}
#cs{
  grid-area:cs;
}
#python{
  grid-area:python
}
#java{
  grid-area:java;
}
#html{
  grid-area:html;
}
#php{
  grid-area:php;
}
#css{
  grid-area:css;
}
#solo{
  grid-area:solo;
}
#team{
  grid-area:team;
}
#leader{
  grid-area:leader;
}

.job *[itemprop="jobTitle"],
.job *[itemprop="name"],
.job *[itemprop="url"],
.job *[itemprop="addressLocality"],
.certificate *[itemprop="name"] {
  display: block;
}

footer{
  display:flex;
  justify-content:center;
}

main{
  display:grid;
  grid-template-areas:
      "page-title"
      "about"
      "skills"
      "education"
      "courses"
      "experience"
      ;
}
#about{
  grid-area:about;
}
#skills{
  grid-area:skills;
}
#courses{
  grid-area:courses;
}
#experience{
  grid-area:experience;
}
#education{
  grid-area:education;
}
.page-title{
  grid-area:page-title;
}

/* end of mobile design, next up is tablet */

@media all and (min-width:558px){

}